@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    font-size: 8pt;
}

.hide {
  display: none;
}

a {
  text-decoration: none;
  color: aliceblue;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pokemon-card:hover {
  transform: translate(-0.2em, -0.2em);
  transition: all 0.1s ease 0s;
  box-shadow: 0.2em 0.2em;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    transition: all 0.1s ease 0s;
    box-shadow: 0.2em 0.2em;
  }

  a:hover {
      color: black;
  }
  
  h3 {
        text-shadow: 3px 3px white,
        3px 3px white;
    }




